<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>

    <body>
        <!--这是我们的View-->
        <div id="app2">
            {{ msg.split('') | limitBy 3 1}}
            <br/>
            {{ msg | lowercase limitBy 3 1}}
            <br>
            {{ num | currency '￥' 2}}
        </div>
        ============================
		<!--这是我们的View-->
		<div id="app">
			<p>{{ message }}</p>
			<input type="text" v-model="message"/>
		</div>
    </body>
    <script src="vue.js"></script>
    <script>
       new Vue({
           el:"#app2",
           data:{msg:"HELLO, my first vue demo!",num:1688888.888}
       });

        // 这是我们的Model
        var exampleData = {
            message: 'Hello World!'
        }

        // 创建一个 Vue 实例或 "ViewModel"
        // 它连接 View 与 Model
        new Vue({
            el: '#app',
            data: exampleData
        })
    </script>
</html>